#header{
border: 1px solid brown;
margin: 10px;
padding: 10px;
display: flex;
justify-content:center;
}

#header button{
    font-weight: 500;
    color:rgb(48, 14, 201);
    border-radius: 5px;
    margin: 15px;
    padding:5px;
    cursor: pointer;
}

#header button:hover{
    transform:scale(1.06);
    color: rgb(161, 79, 12);
}

#breadcrumb{
    border: 1px solid brown;
    margin: 10px;
    padding:10px;
}

#app{
    border: 1px solid brown;
    margin: 10px;
    padding:10px;
}

#container{
    border: 1px solid brown;
    margin: 10px;
    padding:10px;
    display: flex;
}  
.folder {
    background-color: rgb(102, 50, 59);
    border-radius: 8px;
    border: 2px solid black;
    color: rgb(248, 242, 242);
    height: 80px;
    width: 120px;
    margin: 1px;
    padding: 10px;
}   

.folder div[purpose=name]{
    margin-top: 80px;
}

.folder [action]{
    text-decoration: underline;
    cursor: pointer;
}

.folder [action]:hover{
    color:rgb(61, 33, 138);
}